
<aside>
  <div class="logo">
    <a href="https://github.com/TimothyJan/Books-MEAN" target="_blank">
      Books MEAN
    </a>
  </div>
  <nav>
    <ul>
      <li class="subhead">DISCOVER</li>
      <li>
        <a
          class="nav scrolltoview current"
          href="#search">
          <span class="icon">🔍</span>
          Search
        </a>
      </li>
      <li>
        <a
          class="nav scrolltoview"
          href="#reviewed">
          <span class="icon">💖</span>
          Reviewed
        </a>
      </li>
      <li class="subhead">LIBRARY</li>
      <li>
        <a
          class="nav scrolltoview"
          href="#fantasy">
          <span class="icon">🗡️</span>
          Fantasy
        </a>
      </li>
      <li>
        <a
          class="nav scrolltoview"
          href="#fiction">
          <span class="icon">📜</span>
          Fiction
        </a>
      </li>
      <li>
        <a
          class="nav scrolltoview"
          href="#self-help">
          <span class="icon">📖</span>
          Self-Help
        </a>
      </li>
    </ul>
  </nav>

  <a
    class="github nav"
    href="https://github.com/TimothyJan"
    target=”_blank”>
    © 2023 Timothy Jan
  </a>

</aside>
